html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after { box-sizing: inherit; }

.container {
  display: flex;
  height: 100vh;
  background-color: #E5E5E5;
}

.side {
  width: 200px;
  color: #fff;
  background: #313442;
  text-align: center;
}

.main { flex: 1; }

.body { padding: 2rem; }
